nav {
    height: 30px;
    top: 0;
    position: sticky;
    text-align: center;
    background-color: rgb(139, 139, 139);
    color: white;
}

header>h2 {
    margin-left: 80px;
    display: inline;
}

aside {
    margin-top: 60px;
    position: fixed;
    top: 50px;
    right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: none;
    color: rgb(68, 68, 68);
    margin: 0 20px;
}

main {
    box-shadow: 2px 5px 5px 5px #cbcbcb;
}

section p {
    margin: 5px 15px;
    color: rgb(94, 93, 93);
    text-align: start;
    line-height: 1.5em;
}


/* js */

section p {
    color: rgb(10, 10, 10);
}

nav button {
    color: white;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: inherit;
    height: 30px;
}

nav button:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

button.buttonActive {
    font-weight: bold;
    color: black;
}

.tabs section {
    display: none;
}

section.tabActive {
    display: block;
}

ul>li {
    padding: 5px 20px;
    margin: 0px 3px;
    display: inline;
}